<mat-card [formGroup]="questionForm">
    <div formArrayName="solutions">
        <mat-card-content *ngFor="let solution of solutions?.controls; let j = index" [formGroupName]="j">

            <h4 class="pt-2">Solution {{ j + 1 }}</h4>
            <div class="d-flex">

                <div class="d-flex flex-column">

                    <button mat-icon-button [disabled]="j == 0" (click)="moveSolution(j, -1)">
                        <mat-icon class="icon-size">keyboard_arrow_up</mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="j == solutions.length - 1" (click)="moveSolution(j, 1)">
                        <mat-icon class="icon-size">keyboard_arrow_down</mat-icon>
                    </button>

                </div>

                <code-editor formControlName="sql" class="flex-grow-1 px-1"></code-editor>

                <button mat-icon-button class="align-self-center" (click)="removeSolution(j)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-icon-button (click)="addSolution()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </div>
</mat-card>